<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
    <div class="row" id="bottomNav">
      <div class="col-xs-3 text-center"><a><i class="glyphicon glyphicon glyphicon-briefcase"></i><br />
        </a></div>
      <div class="col-xs-3 text-center"><a><i class="glyphicon glyphicon glyphicon-list-alt"></i><br />
        </a></div>
      <div class="col-xs-3 text-center"><a href="index.html"><i class="glyphicon g_b glyphicon glyphicon-star"></i><br />
        </a></div>
      <div class="col-xs-3 text-center"><a href="bonus.html"><i class="glyphicon g_b glyphicon-piggy-bank"></i><br />
        </a></div>
    </div>
  </div>
</div>