
<div id="wrap">
  
    
  
  <!-- Begin page content -->
  <div class="container">
    <h2 class="page-header"><a href back-button><span class="glyphicon glyphicon-arrow-left"></span></a> Отзыв. (тут пред. страница название)</h2>
      <p>(один из трех пунктов название)</p>
      <form name="sentMessage">
        <input type="text" class="form-control" placeholder="Заголовк *" id="name" required data-validation-required-message="Please enter your name.">
        <br />
        <textarea class="form-control" placeholder="Сообщение *" id="message" required data-validation-required-message="Please enter a message."></textarea>
              <br />
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
  </div>
</div>
<div ng-include src="'partition/footer.html'"></div>