
<div id="wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#/#home" data-toggle="tab">Главная</a></li>
  <li><a href="#/#profile" data-toggle="tab">Профиль</a></li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">fdgdsfhgrh</div>
  <div class="tab-pane" id="profile">.4352345234</div>
  
</div>

  
    
  
  <!-- Begin page content -->
  <div class="container">
    <h2 class="page-header"><a href="#/index.html"><span class="glyphicon glyphicon-arrow-left"></span></a> Отзыв о турагентстве</h2>
      <p>один из трех пунктов</p>
      <form name="sentMessage">
        <input type="text" class="form-control" placeholder="Заголовк *" id="name" required data-validation-required-message="Please enter your name.">
        <br />
        <textarea class="form-control" placeholder="Сообщение *" id="message" required data-validation-required-message="Please enter a message."></textarea>
              <br />
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
  </div>
</div>
<div ng-include src="'partition/footer.html'"></div>